html, body, .block {
        height: 100%;
      }
      nav ul li a:hover, nav ul li a.active {
        background-color: rgba(0,0,0,.1);
      }
      footer {
        padding-left: 0;
      }

.susPadding{
  padding-top: 5%;
}

#more {
  position: absolute;
  bottom: 0;
  left: 50%;
  align-items: center;
  transform: translate(-50%,0);
}

.setPos{
  position: relative;
  top: -10vh;
}

.setPos2{
  position: relative;
  top: 5vh;
}

.glue{
  position: relative;
  top: 2vh;
}
