::-webkit-scrollbar {
    display: none;
}

.colorblue{
        background-color: #2399FA;
}

.nav-wrapper{
        padding-left: 2%;
        padding-right: 2%;
}

.colorwhite{
        background-color: #fafafa grey lighten-5
}
.nav-settings{
        padding-left: 2%;
        padding-right: 2%;
}

.datepicker-date-display{
        background-color: #2399FA;
}

.select-dropdown{
        color: #2399FA;
}

.switch input[type="checkbox"]:checked + .lever{
        background-color: #81C6FA !important;
}

.switch input[type="checkbox"]:checked + .lever:after{
        background-color: #2399FA !important;
}

.go_back {
        position: center;
}

.datetime {
        font-size: 300% !important;
}

img.brand-logo {
        height: 80%;
        top: 10%;
        border-radius: 100%;
}

.card-content {
        padding: xx-large;
}

  /* label color */
  .input-field label {
        color: #000000 !important;
      }
      /* label focus color */
      .input-field input[type=text]:focus + label {
        color: #2399FA !important;
      }
      /* label underline focus color */
      .input-field input[type=text]:focus {
        border-bottom: 1px solid #2399FA !important;
        box-shadow: 0 1px 0 0 #2399FA !important;
      }
      /* valid color */
      .input-field input[type=text].valid {
        border-bottom: 1px solid #000 !important;
        box-shadow: 0 1px 0 0 #000 !important;
      }
      /* invalid color */
      .input-field input[type=text].invalid {
        border-bottom: 1px solid #000 !important;
        box-shadow: 0 1px 0 0 #000 !important;
      }
      /* icon prefix focus color */
      .input-field .prefix.active {
        color: #2399FA !important;
      }

      .timepicker-canvas line {
    stroke: #2399FA;
}

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
    fill: #2399FA;
}

.timepicker-digital-display{
  background-color: #2399FA;
}

.timepicker-close{
  color: #2399FA;
}
.timepicker-tick:hover{
  background-color: #2399FA;
}

@media screen and (max-width: 500px) {
  .AlarmHideOnSmall{
    display: center !important;
  }
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
 
  border: #000000;
 
  background-color: #2399FA;
 
}

#Separator{
  padding-bottom: 30px;
}
@media screen and (width: 480px) and (height: 320px){
.timepicker-modal {
    height: 50vw;
}    
}

/*
.timepicker-digital-display {
    display: none;
}

.timepicker-plate {
    width: 40vw !important;
    height: 40vw !important;
}*/
