
.nav-wrapper{
  padding-left: 2%;
  padding-right: 2%;
}

.pTop{
  padding-top: 1%;
}

.pBottom{
  padding-bottom: 2%;
}
.noMargin{
  margin: 0;
}

.blueColor{
  background-color: #0099ff;
}

.centerText{
  text-align: center;
}

#Tpath{
  position: relative;
  top: 1vh;
}

h1{
    font-size: 2.8rem !important;
  }

  h3{
    font-size: 1.8rem !important;
  }

  @media screen and (min-width: 321px){
    h1{
      font-size: 3rem !important;
    }
    h3{
      font-size: 2rem !important;
    }
}

@media screen and (min-width: 500px){
  h1{
    font-size: 5rem !important;
  }
  h3{
    font-size: 3rem !important;
  }
}

/* label color */
 .input-field label {
   color: #000 !important;
 }

 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #000 !important;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000 !important;
   box-shadow: 0 1px 0 0 #000 !important;
 }

 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000 !important;
 }

 /* label focus color */
 .input-field input[type=email]:focus + label {
   color: #000 !important;
 }

 /* label underline focus color */
 .input-field input[type=email]:focus {
   border-bottom: 1px solid #000 !important;
   box-shadow: 0 1px 0 0 #000 !important;
 }

 /* label underline focus color */
 .materialize-textarea:focus {
   border-bottom: 1px solid #000 !important;
   box-shadow: 0 1px 0 0 #000 !important;
 }

.rounded{
  border-radius: 40px;
}
.rotondo{
  border-radius: 50%;
}
